
.DS_Store
/__pycache__
__pycache__/command.cpython-310.pyc
/hifi_gan/__pycache__
/intents/__pycache__
/TTS_TT2/__pycache__
/TTS_TT2/text/__pycache__
tts_models/GLaDOS-146
/settings/__pycache__
tts_models/GLaDOS-364
settings/settings.json
intents/__pycache__
intents/intent_embeddings.npy
intents/intent_labels.pkl
LLM/chat_history.txt
