datasets==3.6.0
kivymd==1.2.0
librosa==0.11.0
number_parser==0.3.2
numpy==2.3.0
pandas==2.3.0
resampy==0.4.3
scikit_learn==1.7.0
scipy==1.15.3
sentence_transformers==4.1.0
sounddevice==0.5.2
torch==2.7.1
transformers==4.52.4
youtube_search_python==1.6.6
